html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}

span[class~="sr-only"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;         /* The CSS clip property is used to define the visible portions of an element. */
    clip-path: inset(50%) !important;                  /* The clip-path property determines the shape the clip property should take. Setting the clip-path property to the value of inset(50%), forms the clip-path into a rectangle within the element. */
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    position: absolute !important;
    padding: 0 !important;
    margin: -1px !important;  
}

/*
    
    Use "!important" keyword to ensure that properties are always applied, regardless of order or specificity.

*/

h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
}

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

h1 .flex span:first-of-type {
    font-size: 0.7em;
}

h1 .flex span:last-of-type {
    font-size: 1.2em;
}

section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
}

#years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color:#ffffff;
    background: #0a0a23;
    margin: 0 -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;       /* The calc() function is a CSS function that allows you to calculate a value based on other values. For example, you can use it to calculate the width of the viewport minus the margin of an element. */
    z-index: 999;
}

#years span[class] {                                    /* The span[class] syntax will target any span element that has a class attribute set, regardless of the attribute's value. */
    font-weight: bold;
    text-align: right;
    width: 4.5rem;
}

.table-wrap {
    padding: 0 0.75rem 1.5rem 0.75rem;
}

span {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    position: relative;
    margin-top: 3rem;
}

